@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

html,
body,
#root,
.app{
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: #16171b;
}
::-webkit-scrollbar {
  width: 15px;
  
}

::-webkit-scrollbar-track {
  background: #16171b;
}

::-webkit-scrollbar-thumb {
  background: #2a2a2e;
  height: 30px;
  border-radius: 1em;
  border: .25em solid #16171b
}
