<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>title</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

  <canvas id="graph" width="800" height="500"></canvas>
  <script>
    const arrayTime = JSON.parse('<%- JSON.stringify(arrayTime) %>');
    const arrayVoltage = JSON.parse('<%- JSON.stringify(arrayVoltage) %>');
    chart();
    setInterval(chart, 2000)

    async function chart() {
      const ctx = document.getElementById('graph');
      new Chart(ctx, {
        type: 'line',
        data: {
          labels: arrayTime,
          datasets: [{
            label: 'Voltage',
            data: arrayVoltage,
            borderWidth: 1
          }]
        },
      });
    }
    console.log('data deploy')
  </script>

  <h1>Graficas en tiempo Real</h1>

  <div id="labelAccel" class="label">
    <h2> Voltage </h2>
  </div>

  <div id="accelContainer" class="container">

    <div id="xAccel" class="x">

      <canvas id="ctx"></canvas>
    </div>

</body>

</html>