<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>title</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/socket.io/socket.io.js"></script>
</head>
<style>
  .chartBox {
    width: 700px !important;
    height: 500px !important;
    display: inline-block;
    vertical-align: top;
  }
  .chartContainer {
    white-space: nowrap;
  }
</style>

<body>
  <div class="chartContainer">
    <div class="chartBox">
      <canvas id="graphVoltage"></canvas>
    </div>
    <div class="chartBox">
      <canvas id="graphCurrent"></canvas>
    </div>
  </div>

  <script>

    const socket = io();
    let chartC;
    let chartV;
    socket.on('data', (data) => {
      const arrayTime = data.arrayTime;
      const arrayVoltage = data.arrayVoltage;
      const arrayCurrent = data.arrayCurrent;
      const arrayTimeC = data.arrayTimeC;

      //setup
      if (!chartC &  !chartV) {
        const datachartVoltage = {
          labels: arrayTime,
          font: {
            size: 14,
            color: '#F8F9F9'
          },
          datasets: [{
            label: 'Voltage',
            data: arrayVoltage,
            backgroundColor: '#F39C12',
            borderColor: '#F39C12',
            borderWidth: 3,
            pointStyle: false

          }]
        }

        const datachartCurrent = {
          labels: arrayTimeC,
          font: {
            size: 14,
            color: '#5B2C6F'
          },
          datasets: [{
            label: 'Current',
            data: arrayCurrent,
            backgroundColor: '#5B2C6F',
            borderColor: '#5B2C6F',
            borderWidth: 3,
            pointStyle: false

          }]
        }
        //plugin
        const plugin = {
          id: 'customCanvasBackgroundColor',
          beforeDraw: (chart, args, options) => {
            const { ctx } = chart;
            ctx.save();
            ctx.globalCompositeOperation = 'destination-over';
            ctx.fillStyle = options.color || '#99ffff';
            ctx.fillRect(0, 0, chart.width, chart.height);
            ctx.restore();
          }
        };

        

        //config

        const configVoltage = {
          type: 'line',
          data: datachartVoltage,
          options: {
            animation: {
              duration: 0
            },
            plugins: {
              customCanvasBackgroundColor: {
                color: '#17202A',
              },
              title: {
                display: true,
                text: 'Grafica en tiempo real voltaje',
                color: '#F8F9F9'
              },
              legend: {
                labels: {
                  font: {
                    size: 20,
                    color: "#F8F9F9"
                  }
                }
              },
              scales: {
                xAxes: [{
                  ticks: {
                    fontColor: 'white'
                  }
                }],
                yAxes: [{
                  ticks: {
                    fontColor: 'white'
                  }
                }]
              }, responsive: false,
            }
          },
          plugins: [plugin],
        };

        const configCurrent = {
          type: 'line',
          data: datachartCurrent,
          options: {
            animation: {
              duration: 0
            },
            plugins: {
              customCanvasBackgroundColor: {
                color: '#17202A',
              },
              title: {
                display: true,
                text: 'Grafica en tiempo real corriente',
                color: '#F8F9F9'
              },
              legend: {
                labels: {
                  font: {
                    size: 20,
                    color: "#F8F9F9"
                  }
                }
              },
              scales: {
                xAxes: [{
                  ticks: {
                    fontColor: 'white'
                  }
                }],
                yAxes: [{
                  ticks: {
                    fontColor: 'white'
                  }
                }]
              }, responsive: false,
            }
          },plugins: [plugin],
        };

        async function initchart() {

          

          //render
          const ctx = document.getElementById('graphVoltage');
          chartV = new Chart(ctx,
            configVoltage);

          const cc = document.getElementById('graphCurrent');
          chartC = new Chart(cc,configCurrent);

          
        }

        initchart();
      } else {

        chartV.data.labels.push(arrayTime.slice(-1)[0]);
        chartV.data.labels.shift();
        chartV.data.datasets.forEach((dataset) => {
          dataset.data.push(arrayVoltage.slice(-1)[0]);
          dataset.data.shift();
        });
        chartV.update();
        chartC.data.labels.push(arrayTime.slice(-1)[0]);
        chartC.data.labels.shift();
        chartC.data.datasets.forEach((dataset) => {
          dataset.data.push(arrayCurrent.slice(-1)[0]);
          dataset.data.shift();
        });
        chartC.update();
      }


    });
  </script>
</body>

</html>